doctype html
html(lang="en")
    head
        title="JS Breakout-clone"
        link(rel="stylesheet", type="text/css", href="dist/vendor/css/normalize.css")
        link(rel="stylesheet", type="text/css", href="dist/vendor/css/skeleton.css")
        link(rel="stylesheet", type="text/css", href="dist/css/style.css")
    body
        h1 Breakout
        canvas test
        script(src='dist/js/main.js')

